<!-- Google Analytics Script -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83652865-1', 'auto');
  ga('send', 'pageview');

</script>

<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<head>
    <title>About</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
</head>

<body>
    <div class="welcome">
        <h2>
            About Project Chronicle:
        </h2>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 paragraphSummary">
        <p>There is no opportunity as big as education. It is an opportunity to make life-long learners; to excite students about the world; and to create explorers, scientists, entrepreneurs, entertainers, and engineers. But most students dread school. Many don’t find relevance in their classes and many find their knowledge useless. Our mission at Project Chronicle is to empower those students with the ownership of stories and enhance their learning through the power of speech.</p>
        <p>Typical learning is done through monotonous book problems and flashcards. But if students can learn through speech and through stories, students will not only better understand the material, but give them ownership of something that can be shared and communicated, which is something no other educational technology has adequately provided.</p>
        <p>Project Chronicle has students record their telling of a prompted story. Our platform analyzes the student’s response and give immediate feedback on both the accuracy and delivery of the content. The application both challenges the students to understand the material at a much deeper level than required by typical homework and leaves them with stories they can easily remember and share. It gives them confidence. It gives them comprehension. It gives them a voice.</p>
    </div>
    <div class="col-md-4"></div>
</body>
