<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
</head>

<header>
    <div class="header">
            <div class="menu" onclick="toggleNav()">Menu</div>
            <span class="pc"><a href="/">Project Chronicle</a></span>
            <img class="logo" src="http://www.freeiconspng.com/uploads/open-book-icon-icon--open-book-2-svg-12.png">
    </div>
    <br> <br> <br>
</header>

<div id="pop-out" class="sidenav">
    <!--<a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>-->
    <a href="/" class="nav-link noUnderline"><span>Home</span></a>
    {% if user.is_authenticated %}
    <a href="/classes/" class="nav-link noUnderline"><span>Classes</span></a>
    {% endif %}
    <a href="#" class="nav-link noUnderline"><span>About</span></a>
    <a href="#" class="nav-link noUnderline"><span>Survey</span></a>
    {% if user.is_authenticated %}
    <a href="/logout/" class="nav-link noUnderline"><span>Log Out</span></a>
    <a href="javascript:void(0)" class="nav-link noUnderline"> <span>Signed in as: {{ user }} </span></a>
    {% else %}
    <a href="/login/" class="nav-link noUnderline"><span>Log In</span></a>
    {% endif %}
</div>

</html>
