<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Chronicle</title>
    {% load static %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
{% include "base.html" %}

<body>
<div class="ui center aligned container" style="padding-top: 70px">
    <h1 class="ui header" >
        Welcome to Project Chronicle. <img src="http://www.freeiconspng.com/uploads/open-book-icon-icon--open-book-2-svg-12.png" class="logo-inside">
    </h1>

    <h3 class="ui header">Click. Speak. Learn.</h3>

    <div class="ui large buttons">
      <a href="/login" class="ui red button"> Login </a>
      <div class="or"></div>
      <a href="/signup" class="ui green button">Sign Up</a>
    </div>
    <br/><br/>


    <div class="teacher-section">
      <h4 class="ui header">Are you a teacher? Check out our new Teacher Portal!</h4>
      <a href="/teacher" class="ui primary basic button">Go!</a>
    </div>

    <h4 class="ui header">Our mission is to empower students with the ownership of stories and enhance their learning through the power of speech.</h4>
</div>
</body>
