<!-- Google Analytics Script -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83652865-1', 'auto');
  ga('send', 'pageview');

</script>

<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<head>
    <title>Project Chronicle</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
</head>

<body>
    <div class="welcome">
        <h2>
            Welcome to Project Chronicle.<img src="http://www.freeiconspng.com/uploads/open-book-icon-icon--open-book-2-svg-12.png" class="logo-inside">
        </h2>
    </div>

    <h3 class="summaryHeader">Click. Speak. Learn.</h3>

    <div class="login-register-buttons">
        <a href="/login" class="button" style="vertical-align:middle"> <span>Login</span> </a>
        <a href="/signup" class="button" style="vertical-align:middle"> <span>Sign Up</span> </a>
    </div>

    <div class="teacher-section">
      <span>Are you a teacher? Check out our new Teacher Portal!</span>
      <br> <br>
      <a href="/teacher" class="button2" style="vertical-align:middle"> <span>Go!</span> </a>
    </div>

    <div class="summary">Our mission  is to empower students with the ownership of stories and enhance their learning through the power of speech.</div>
</body>
