
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Log In</title>
    <meta charset="utf-8">

    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>
<body>
{% include "base.html" %}
    <div class="ui middle aligned center aligned grid">
        <div class="four wide column">
        <h1 class="ui center aligned header" style="padding-top: 70px">Login</h1>

        <form class="ui equal width form" method="post">
            {% csrf_token %}
                {% for field in form %}
                <div class="small field">
                <label> {{ field.label_tag }} </label>
                    <div class="ui input">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}

            {% if error != None %}
                {{ error }}
                <br>
            {% endif %}

            <button class="ui basic icon button" type="submit">
              Login
              <i class="right chevron icon"></i>
            </button>
        </form>

        <br> <br>
        <a class="registerLink" href="/signup"> Need an account? Click here to register!</a> <br><br><br>

        </div>
    </div>
</body>
</html>