<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<head>
    <title>Log In</title>
    <meta charset="utf-8">


    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
</head>
<body>
    <div class="container loginContainer">
        <form method="post">
            {% csrf_token %}

            {% for field in form %}
            <div class="formRow">
                <label>{{ field.label_tag }}</label> {{ field }}
            </div>

            <br> <br>
            {% endfor %}

            {% if error != None %}
            <br>
            {{ error }}
            <br>
            {% endif %}

            <input type="submit" class="submitButton" value="Log In!" />
            <br> <br>
            <a class="registerLink" href="/signup"> Need an account? Click here to register!</a>
        </form>
    </div>
</body>
</html>