<!DOCTYPE html>
<html lang="en">

<head>
  <title>Question Builder</title>
  <meta charset="utf-8">

  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
{% include "base.html" %}
<h1 class="ui center aligned header" style="padding-top: 70px">Question Builder</h1>
<div class="ui very padded center aligned container">
  <form class="ui equal width form" method="post">
  <div class="ui three column grid">
    {% csrf_token %}

    {{ form.errors }}
    {{ form.non_field_errors }}

    {% for field in form %}
        <div class="column">
            <div class="field">
            <label> {{ field.label_tag }} </label>
                {% if field.help_text %}
                <div class="ui input" data-tooltip="{{ field.help_text }}" data-position="bottom right">
                {% else %}
                <div class="ui input" data-position="bottom right">
                {%  endif %}
                    {{ field }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% if error != None %}
      {{ error }}
    {% endif %}


  </div>
  <div class="ui very padded center aligned container" style="padding-top: 30px">
    <button class="ui green button" type="submit">
      Submit
    </button>
  </div>
  </form>

</div>

</body>
</html>