<!-- Google Analytics Script -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83652865-1', 'auto');
  ga('send', 'pageview');

</script>

<!DOCTYPE html>
<html lang="en">
{% include "base.html" %}
<head>
  <title>{{ topic }}</title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/question.css' %}" />
</head>



	<div class = "page-header">
		<h1> Questions in {{ topic }} </h1>
	</div>

	<div class = "container">
		<h4><a class = "in-page-nav" href="/classes">{{class}}</a> <strong> / </strong> <a class ="in-page-nav" href="/{{class.class_id}}">{{topic}}</a>  <strong> / </strong> </h4>
		<div class = "row"> </div>
	</div>

	<div class = "container">
	{% for q in questions %}
			
			{% if forloop.counter0|divisibleby:3 %}
				<div class = "row"> </div>
			{% endif %}

			{% if q.best > q.percent_to_pass %}
				<div class = "col-md-4 passed">
					<center><a href = "/{{q.class_id.class_id}}/{{ q.topic_id.topic_id }}/{{q.question_id}}">
					<button class = "button">
						<span>{{ q.question_subject }}</span> <br>
						<span>Highest Score: {{ q.best }}%</span>
					</button></a> <br> <br></center>
				</div>
			{% else %}
				<div class = "col-md-4 not-passed">
					<center><a href = "/{{q.class_id.class_id}}/{{ q.topic_id.topic_id }}/{{q.question_id}}">
					<button class = "button">
						<span>{{ q.question_subject }}</span> <br>
						<span>Highest Score: {{ q.best }}%</span>
					</button></a> <br> <br></center>
				</div>
			{% endif %}
			
		

	{% endfor %}
	</div>

	
</html>
