<!DOCTYPE html>
<html lang="en">

<head>
  <title>Questions in {{topic}}</title>
  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{% static 'js/progress_viz.js' %}"></script>
</head>

<script>

</script>
{% include "base.html" %}


<h1 class="ui center aligned header" style="padding-top: 70px">Questions in {{ topic }}</h1>

<h5 class="ui center aligned header">Back to <a href="/{{class.class_id}}">{{ class }}</a></h5>


<div class="ui container">
    <div class="ui six doubling cards">
        {% for q in questions %}
            <a class="ui raised card" href="/{{q.class_id.class_id}}/{{ q.topic_id.topic_id }}/{{q.question_id}}">
              <div class="image">
                <img src="{% static 'images/logo.png' %}"/>
              </div>
              <div class="content">
                <div class="header">{{ q }}</div>
              </div>
              <div class="center aligned meta">
                  Highest Score: {{ q.best }}%
              </div>
              {% if q.best > q.percent_to_pass %}
              <div class="ui green bottom indicating attached progress" data-percent="{{ q.best }}" id="prog_{{q.question_id}}">
                <div class="bar"></div>
              </div>
              {% else %}
              <div class="ui red bottom indicating attached progress" data-percent="{{ q.best }}" id="prog_{{q.question_id}}">
                <div class="bar"></div>
              </div>
              {% endif %}

            </a>
        {% endfor %}
    </div>
</div>

</html>

