<!DOCTYPE html>
<html lang="en">

{% load speech_extras %}

<head>
    <title>Response</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://s3-us-west-2.amazonaws.com/whynotask-bucket/semantic.css">
</head>


<body>

{% include "base.html" %}
<div class="ui main center aligned text container" style="padding-top: 70px">
<h2 class="ui header"> Question from: <a href="/{{q.class_id.class_id}}/{{ q.topic_id.topic_id }}"> {{ q.topic_id}} </a></h2>
<h4 class="ui horizontal divider header" style="margin-top: 50px">
  OUR QUESTION
</h4>
<h5 id="questionContent" class="ui header">
    {{ q.question_title }}
</h5>
<h4 class="ui horizontal divider header">
  YOUR RESPONSE
</h4>
<div class="ui center aligned text container">
{% for word in transcript  %}
    {% if counter.fast_counter|divisibleby:2 %}
        <p class="ui center aligned" style="display:inline"> {{ word }} </p>
    {% else %}
        <p class="ui center aligned" data-variation="wide" data-tooltip="...{{ prev_context_list|return_item:counter.slow_counter }} {{word}}
            {{ post_context_list|return_item:counter.slow_counter }}..." data-position="top center"
            style="display:inline; color:green">{{ word }}
        </p>
    {% endif %}
    {{ counter.increment }}
{% endfor %}
</div>

<h2 class="ui center aligned header">- Your Score -</h2>

<h4 class="ui center aligned header">
    {%  if result_string == "Pass" %}
    Congratulations, you passed with a score of:
    {% else %}
    Uh oh, you needed a {{ percent_to_pass }}%, but only scored:
    {% endif %}
</h4>


<h4 class="ui center aligned header">{{ percentage }}%</h4>

<div class="ui center aligned container">
  <a class="ui basic icon button" href="">
      Try Again
      <i class="icon refresh"></i>
  </a>

  <a class="ui basic icon button" href = "/{{ q.class_id.class_id }}/{{ q.topic_id.topic_id }}">
      Continue
      <i class="right chevron icon"></i>
  </a>
</div>

</div>

</body>



</html>
