<!DOCTYPE html>
<html lang="en">

<head>
  <title>Signup</title>
  <meta charset="utf-8">

  
  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>

{% include "base.html" %}
<div class="ui middle aligned center aligned grid">
<div class="twelve wide column">
<h1 class="ui header" style="padding-top: 70px">Sign Up</h1>

    <form class="ui form" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if forloop.counter0|divisibleby:2 %}
            <div class="two fields">
            {% endif %}
            <div class="field">
            <label> {{ field.label_tag }} </label>
                <div class="ui input">
                    {{ field }}
                </div>
            </div>
            {% if not forloop.counter0|divisibleby:2 %}
            </div>
            {% endif %}

        {% endfor %}

        {% if error != None %}
          <div class="ui horizontal divider">
            Error
          </div>
          <h5>{{ error }}</h5>
        {% endif %}

        <button class="ui basic button" type="submit">
          Signup
        </button>

    </form>
</div>
</div>

</body>
</html>