<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Answer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

    <script type="text/javascript" src="{% static 'js/speech.js' %}"></script>


</head>
{% include "base.html" %}
<body>
<div class="ui very padded center aligned container" style="margin-top: 70px">
        <h2 class="ui header"> Question from: <a href="/{{q.class_id.class_id}}/{{ q.topic_id.topic_id }}"> {{ q.topic_id }} </a></h2>


        <div id="questionBox" class="ui text container" style="margin-top: 50px">
            <h4 class="ui horizontal divider header">
              OUR QUESTION
            </h4>
            <h5 id="questionContent" class="ui header">
                {{ q.question_title }}
            </h5>
            <div class="ui container images">
                {% for image in images %}
                    <img src={{image.url}}>
                    <input type="hidden" value={{image.url}}>
                {% endfor %}
                {% if images.count > 1 %}
                    <div style="margin-top: 10px;">
                        <button onclick="nextImage()" id="nextImgButton" class="ui basic button">Next Image</button>
                    </div>
                {% endif %}
            </div>
            <h4 class="ui horizontal divider header">
              YOUR RESPONSE
            </h4>
            <div id="results" class="ui container" style="min-height: 200px">
                <span class="final" id="final_span"></span> <span class="interim" id="interim_span"></span>
            </div>
            <div class="ui container">
                <div class="ui center aligned container">
                    <button id="recordTimer" class="ui basic disabled button">
                        <span class="ui center aligned" id="minutes"></span>:<span class="ui center aligned" id="seconds"></span>
                    </button>
                </div>
                <div class="ui buttons">

                  <button id="recordButton" class="ui basic button">
                    <i class="circle icon"></i>
                    Record
                  </button>
                  <button id="submitButton" class="ui basic disabled button">
                    Submit
                    <i class="right chevron icon"></i>
                  </button>
                </div>
            </div>
        </div>
</div>

    <form method="post" id="form_transcript">
        {% csrf_token %}
        <input type="hidden" id="final_transcript" name="final_transcript" value="">
    </form>
</body>
</html>