<!DOCTYPE html>
<html lang="en">
<head>
    <title>Teacher|Project Chronicle</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/teacher.js' %}"></script>
    <script type="text/javascript" src="{% static 'semantic/components/modal.js' %} "></script>
    <script type="text/javascript" src="{% static 'semantic/components/accordion.js' %} "></script>
</head>
{% include "base.html" %}

<body>
<div class="body-container" style="margin-top:125px;">

  <div class="ui container">

    <div class="ui large menu" id="mainMenu">
      <div class="left menu">
        <a onclick="showHomeDetails()" class="active item home">
          <i class="home icon"></i> 
          <span>Home</span>
        </a>
        <a class="item template">
          <span></span>
        </a>
      </div>
      <div class="right menu">
        <div class="item addClass">
            <div onclick="openModal('addClass')" class="ui teal button">Add Class</div>
        </div>
        <div class="item addTopic" style="display: none;">
            <div onclick="openModal('addTopic')" class="ui teal button">Add Topic</div>
        </div>
      </div>
    </div>

    <div class="ui link stackable cards hideable" id="classContainer">
      <div class="ui container" id="noClassesMessage" style="display:none; margin-top: 3em">
        <div class="ui message info">
          <div class="header">
            No Classes
          </div>
          <p>It appears you do not have any classes. Click the "Add Class" button to create a new class.</p>
        </div>
      </div>

      <div class="card template">
        <div class="image">
          <img src="http://images.clipartpanda.com/campus-clipart-MP00640_.jpg">
        </div>
        <div class="content">
          <div class="header">Template Class</div>
          <div class="meta">
            <span class="class-key">ClassKey</span>
          </div>
        </div>
        <div class="extra content">
          <div class="ui compact menu floated right">
            <div class="ui simple dropdown item">
              Action
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="detail item">Show Details</div>
                <div class="edit item">Edit</div>
                <div class="delete item">Delete</div>
              </div>
            </div>
          </div>
          <span>
            <i class="user icon"></i>
            <span class="enrollments-count">100</span><span> Enrollments</span>
          </span>
        </div>
      </div>
    </div>

    <div class="ui styled fluid accordion hideable" id="topicContainer" style="display: none;">
      <div class="ui container" id="noTopicsMessage" style="display:none; margin-top: 3em">
        <div class="ui message info">
          <div class="header">
            No Topics
          </div>
          <p>It appears you do not have any topics. Click the "Add Topic" button to create a new topic.</p>
        </div>
      </div>
      
      <div class="accordion-row template">
        <div class="title">
          <i class="dropdown icon"></i>
          <span></span>
        </div>
        <div class="content">
          <div class="ui segments question">
            <div class="ui segment template question">
              <span>Question Title Here</span>
            </div>
          </div>
          <div class="ui fluid container right aligned">
            <button onclick="openModal('confirmDeleteTopic', this)" class="ui button">
              Delete Topic
            </button>
            <button onclick="openModal('editTopic', this)" class="ui button">
              Edit Topic
            </button>
            <button onclick="openNewQuestionBuilder(this)" class="ui teal button">
              Add Question
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="ui container hideable" id="questionContainer" style="display: none;">

      <h1 class="ui center aligned header" style="padding-top: 70px">Question Builder</h1>
      <div class="ui very padded center aligned container">
        <form class="ui equal width form" method="post">
        <div class="ui three column grid">
          {% csrf_token %}
          {{ form.errors }}
          {{ form.non_field_errors }}

          {% for field in form %}
              <div class="column">
                  <div class="field">
                  <label> {{ field.label_tag }} </label>
                      {% if field.help_text %}
                      <div class="ui input" data-tooltip="{{ field.help_text }}" data-position="bottom right">
                      {% else %}
                      <div class="ui input" data-position="bottom right">
                      {%  endif %}
                          {{ field }}
                      </div>
                  </div>
              </div>
          {% endfor %}

          {% if error != None %}
            {{ error }}
          {% endif %}
        </div>

        <div class="ui very padded center aligned container" style="padding-top: 30px">
          <button class="ui green button" type="submit">
            Submit
          </button>
        </div>
        </form>

      </div>

    </div>


    <!-- Modals -->
    <div class="ui small modal" id="classModal">
      <div class="header">Add A Class</div>
      <div class="content">
        <div class="ui padded fluid icon input">
          <input id="newClassName" type="text" placeholder="Class Name">
          <input class="hidden-id" type="hidden">
        </div>
      </div>
      <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div class="ui approve teal button">Create</div>
      </div>
    </div>

    <div class="ui small modal" id="confirmModal">
      <div class="header">Are You Sure?</div>
      <div class="content">
        This cannot be undone.
        <input type="hidden" class="hidden-id"></input>
      </div>
      <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div class="ui approve red button">Delete</div>
      </div>
    </div>

    <div class="ui small modal" id="topicModal">
      <div class="header"></div>
      <div class="content">
        <div class="ui padded fluid icon input">
          <input id="topicNameField" type="text" placeholder="Topic Name">
          <input class="hidden-id" type="hidden">
        </div>
      </div>
      <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div class="ui approve teal button">Create</div>
      </div>
    </div>

  </div>

<input id="classKey" type="hidden"></input>
<input id="classId" type="hidden"></input>

</div>
</body>