<!DOCTYPE html>
<html lang="en">
<head>
    <title>Teacher|Project Chronicle</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/teacher.js' %}"></script>
    <script type="text/javascript" src="{% static 'semantic/components/modal.js' %} "></script>
    <script type="text/javascript" src="{% static 'semantic/components/accordion.js' %} "></script>
</head>
{% include "base.html" %}

<body>
<div class="body-container" style="margin-top:125px;">

  <div class="ui container">

    <div class="ui large menu" id="mainMenu">
      <div class="left menu">
        <a onclick="showHomeDetails()" class="active item">
          <i class="home icon"></i> 
          <span>Home</span>
        </a>
      </div>
      <div class="right menu">
        <div class="item addClass">
            <div onclick="openModal('addClass')" class="ui teal button">Add Class</div>
        </div>
        <div class="item addTopic" style="display: none;">
            <div onclick="openModal('addTopic')" class="ui teal button">Add Topic</div>
        </div>
      </div>
    </div>

    <div class="ui link stackable cards" id="classContainer">

      <div class="card template">
        <div class="image">
          <img src="http://images.clipartpanda.com/campus-clipart-MP00640_.jpg">
        </div>
        <div class="content">
          <div class="header">Template Class</div>
          <div class="meta">
            <span class="class-key">ClassKey</span>
          </div>
        </div>
        <div class="extra content">
          <div class="ui compact menu floated right">
            <div class="ui simple dropdown item">
              Action
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="detail item">Show Details</div>
                <div class="edit item">Edit</div>
                <div class="delete item">Delete</div>
              </div>
            </div>
          </div>
          <span>
            <i class="user icon"></i>
            <span class="enrollments-count">100</span><span> Enrollments</span>
          </span>
        </div>
      </div>
    </div>

    <div class="ui styled fluid accordion" id="topicContainer" style="display: none;">
      <div class="accordion-row template">
        <div class="title">
          <i class="dropdown icon"></i>
          <span></span>
        </div>
        <div class="content">
          <div class="ui fluid container right aligned">
            <button onclick="openModal('confirmDeleteTopic', this)" class="ui button">
              Delete Topic
            </button>
            <button onclick="openModal('editTopic', this)" class="ui button">
              Edit Topic
            </button>
            <button class="ui teal button">
              Add Question
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modals -->
    <div class="ui small modal" id="classModal">
      <div class="header">Add A Class</div>
      <div class="content">
        <div class="ui padded fluid icon input">
          <input id="newClassName" type="text" placeholder="Class Name">
          <input class="hidden-id" type="hidden">
        </div>
      </div>
      <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div class="ui approve teal button">Create</div>
      </div>
    </div>
    <div class="ui small modal" id="confirmModal">
      <div class="header">Are You Sure?</div>
      <div class="content">
        This cannot be undone.
        <input type="hidden" class="hidden-id"></input>
      </div>
      <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div class="ui approve red button">Delete</div>
      </div>
    </div>
    <div class="ui small modal" id="topicModal">
      <div class="header"></div>
      <div class="content">
        <div class="ui padded fluid icon input">
          <input id="topicNameField" type="text" placeholder="Topic Name">
          <input class="hidden-id" type="hidden">
        </div>
      </div>
      <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div class="ui approve teal button">Create</div>
      </div>
    </div>

  </div>

<input id="classKey" type="hidden"></input>

</div>
</body>