<!DOCTYPE html>
<html lang="en">

<head>
  <title>Topics in {{class}}</title>
  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
{% include "base.html" %}

<h1 class="ui center aligned header" style="padding-top: 70px">Topics in {{ class }}</h1>

<h5 class="ui center aligned header">Back to <a href="/classes">Classes</a></h5>


<div class="ui container">
    <div class="ui six doubling cards">
        {% for topic in topics %}
            <a class="ui raised card" href="/{{topic.class_id.class_id}}/{{ topic.topic_id }}">
{#              <div class="image">#}
{#                    <img src="{% static 'images/logo.png' %}"/>#}
{#              </div>#}
              <div class="content">
                <div class="header">{{ topic }}</div>
              </div>
              <div class="center aligned meta">
                  Percent Complete: {{topic.progress}}%
              </div>
              <div class="ui bottom indicating attached progress" data-percent="{{topic.progress}}">
                <div class="bar"></div>
              </div>
            </a>
        {% endfor %}
    </div>
</div>



	
</html>