body {
    font-family: 'Raleway', sans-serif;
}

.welcome {
    font-family: 'Raleway', sans-serif;
    width: auto;
    margin-top: 6em;
    padding-bottom: 3em;
    text-align: center;
    border-bottom: 1px solid #eee;
    color:#f55449;
}

.paragraphSummary {
    margin-top:3em;
}

.paragraphSummary p {
    text-indent:1.5em;
    line-height:2em;
    color:#0f1f38;
    text-align:justify;
    margin-bottom:2em;
}