html {
  font-size: 12px;
  box-sizing: border-box;
}

body{
  background-color: white;
}

h1{
  color: #0f1f38;
  text-align: center;
  font-family: 'trebuchet ms';
}

.in-page-nav{
  color: #8e7970;
}

.in-page-nav:hover{
  color: #f55449;
}

.classContainer {
  height:4em;
  line-height:4em;
  text-align:center;
  width:18em;
  background-color: #fff;
  color:#0f1f38;
  margin:1em;
  border: solid 1px #0f1f38;
  cursor: pointer;
}

.classContainer:hover {
  background-color: #f55449;
  color:white;
}

.classContainer span:hover {
    text-decoration:none;
}

.noUnderline {
    text-decoration:none!important;
}