body {
    font-family: 'Raleway', sans-serif;
}

.welcome {
    font-family: 'Raleway', sans-serif;
    width: auto;
    margin-top: 8em;
    padding-bottom: 5em;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.loginOptions {
    width:auto;
    font-family: 'Raleway', sans-serif;
    color: #fbdbe8;
    text-align:center;
    margin-top:4em;
    padding-bottom: 4em;
    border-bottom: 1px solid #eee;
}

.summaryHeader {
    margin-top:5em;
    width:auto;
    text-align:center;
    font-family: 'Raleway', sans-serif;
    color: #f55449;
}

.summary {
    margin-top:2em;
    width:auto;
    text-align:center;
    font-family: 'Raleway', sans-serif;
    color: #f55449;
}

.logo-inside {
    height: 1.6em;
}

a:hover {
    color: white;
}

.button {
    display: inline-block;
    border-radius: 2px;
    background-color: #0f1f38;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 22px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
}

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
    }

        .button span:after {
            content: '»';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -25px;
            transition: all .50s ease;
        }

    .button:hover span {
        padding-right: 25px;
    }


        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
