body {
  margin-left:0;
}

h1 {
  text-align:center;
  font-family:"Trebuchet MS",sans-serif;
  font-size:3em;
}

.loginContainer {
    margin-top:6em;
}

form {
  text-align: center;
  font-family:"Century Gothic",sans-seif;
}

input[type=text] {
  width: 8;
  border: 2px solid black;
  border-radius: 4px;
  padding: 4px 8px;
  -webkit-transition: width 0.5s ease_in_out;
  transition: width 0.5s ease-in-out;
}

input[type=email] {
  width: 8;
  border: 2px solid black;
  border-radius: 4px;
  padding: 4px 8px;
  -webkit-transition: width 0.5s ease_in_out;
  transition: width 0.5s ease-in-out;
}


input[type=text]:focus {
  width: 12%;
  background-color: lightblue;
}


input[type=email]:focus {
  width: 12%;
  background-color: lightblue;
}


input[type=password] {
  width: 8;
  border: 2px solid black;
  border-radius: 4px;
  padding: 4px 8px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

input[type=password]:focus {
  width: 12%;
  background-color: lightblue;
}

input[type=submit] {
  background-color: #0F1F38;
  margin: 2px 4px;
  color: white;
  cursor: pointer;
  padding: 4px 8px;
}

.input_field {
  margin-right: auto;
  margin-left: auto
}